body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.news{
  padding: 10px;
  margin: 10px;
  width: 500px;
}
.news>img{
    height: 350px;
    width: 350px;
    object-fit: cover;
}

@media(max-width:767px){
    .news{
        margin: auto;
        width: auto;
      
    }
    .news>p{
        margin: auto;
        background-color:bisque;
        padding: 10px;
    }
}

@media(max-width:576px) {
    .news{
        margin: auto;
        width: auto;
        padding: 10px;
    }
    .news>p{
        background-color: darkgrey;
        /* width:390px; */
        padding: auto;
        margin: auto;
    }

    
}